@model HumberAreaHospitalProject.Models.ViewModels.ListSurvey

@{
    ViewBag.Title = "List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Survey Form</title>
</head>
<body>

    <div>
        <form method="post" action="/Survey/List">
            <select name="id">
                @{
                    foreach (var question in Model.questions)
                    {
                        <option value="@question.QuestionID">@question.QuestionText</option>
                    }

                }

            </select>
            <input type="submit" value="Submit" />
        </form>

    </div>
    <table style="width:50%">
        <thead>
            <tr>
                <th>Answer</th>
            </tr>
            <tr>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var answer in Model.answers)
                {
                    <tr>
                        <td>@answer.ResponseText</td>
                    </tr>
                    <tr>
                        <td>@answer.UserName</td>
                    </tr>
                }

            }
        </tbody>
    </table>
</body>
</html>

